.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 75px 1fr 1fr 1fr 60px;

    grid-template-areas: 
    'mainTitle mainTitle mainTitle mainTitle mainTitle'
    'catagory catagory catagory catagory start'
    'nav man man pOne pTwo'
    'nav man man alphabet alphabet'
    'nav word word trash trash'
    'footer footer footer footer footer';
    width: 100vw;
    height: 100vh;
}

.title {
    grid-area: mainTitle;
    background: purple;
}
.crnt-cat {
    grid-area: catagory;
    background: pink;
    text-align: center;
}
.start {
    grid-area: start;
    background: grey;

}
.nav {
    grid-area: nav;
    background: orange;
}

.man {
    grid-area: man;
    background: yellow;
}
.pOne {
    grid-area: pOne;
    background: skyblue;

}
.pTwo {
    grid-area: pTwo;
    background: lightgreen;
}
.alphabet {
    grid-area: alphabet;
    background: blue;
}
.trash {
    grid-area: trash;
    background: brown;
}
.footer {
    grid-area: footer;
    background: lime;
}
.hdn-wrd {
    grid-area: word;
    background: lemonchiffon;
}
.alph-btn {
    background: black;
}
.alph-btn-good {
    background: rgba(61, 151, 61, 1)
}
.alph-btn-bad {
    background: rgb(204, 36, 36)
}
.hdnLtr{
    border-bottom: 3px solid black;
    display:inline-block;
    color: transparent;
    margin: 2px;
    width: 10px;  
}
.visible {
    border-bottom: 3px solid black;
    display:inline-block;
    color: black;
    margin: 2px;
    width: 10px;
}