.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 75px 1fr 1fr 1fr 60px;

    grid-template-areas: 
    'mainTitle mainTitle mainTitle mainTitle mainTitle'
    'catagory catagory catagory catagory start'
    'nav man man pOne pTwo'
    'nav man man alphabet alphabet'
    'nav word word trash trash'
    'footer footer footer footer footer';
    width: 100vw;
    height: 100vh;
}

.title {
    grid-area: mainTitle;
    background: rgb(108,136,186);
    font-family: 'Indie Flower';
    text-align: center;
}
.crnt-cat {
    grid-area: catagory;
    background: rgb(202,218,252);
    text-align: center;
    font-family: 'Indie Flower';
}
.start {
    grid-area: start;
    background: rgb(202,218,252);
    align-content: center;
    

}
.nav {
    grid-area: nav;
    background: rgb(131, 190, 218);
    font-family: 'Shadows Into Light', cursive;
}

.man {
    display: flex;
    grid-area: man;
    background: white;
}
#manPNG {
    height: 90%;
    width: auto;
    margin: 10px;
}
.pOne {
    grid-area: pOne;
    background: rgb(202,218,252);
    font-family: 'Shadows Into Light', cursive;

}
.pTwo {
    grid-area: pTwo;
    background: rgb(202,218,252);
    font-family: 'Shadows Into Light', cursive;
}
.alphabet {
    grid-area: alphabet;
    background: rgb(202,218,252);
    font-family: 'Indie Flower';
}
.trash {
    grid-area: trash;
    background: rgb(202,218,252);
}
.footer {
    grid-area: footer;
    background: rgb(131, 190, 218);
}
.hdn-wrd {
    grid-area: word;
    background: rgb(255, 250, 222);
    font-family: 'Indie Flower';
    /* display: flex; */
}   
.alph-btn {
    background: black;
    font-family: 'Indie Flower';
}
.alph-btn-good {
    background: rgba(61, 151, 61, 1);
}
.alph-btn-bad {
    background: rgb(204, 36, 36);   
}
.hdnLtr{
    border-bottom: 3px solid black;
    display:block;
    color: transparent;
    margin: 2px;
    width: 10px; 
    font-family: 'Indie Flower';
    display: inline-block;
    
}
.visible {
    border-bottom: 3px solid black;
    display:inline-block;
    color: black;
    margin: 2px;
    width: 10px;
}
button {
    font-family: 'Indie Flower';
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.startBtn {
    width: 90px;
}